<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScrumBoard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header>



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                        @*   <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>*@
                    <a class="nav-link text-danger" asp-area="" asp-controller="HOME" asp-action="Index"> ScrumBoard </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Board" asp-action="AddBoard"> CreateBoard </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">ManageBoards</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Settings</a>
                </li>

                <li class="nav-item dropdown">
                    <div class="dropdown show">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            MyBoards
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-action="" asp-controller="Home" asp-route-product="pc">Data</a>
                            <a class="dropdown-item" asp-action="" asp-controller="Home" asp-route-product="pc">LessonPdf</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>

                </li>

                <form class="form-inline my-2 my-lg-0">
                    <table>
                        <tr>
                            <td><input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"></td>
                            <td><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></td>

                        </tr>
                    </table>
                </form>

                    @* <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> New features soon... </a>
                </li>*@
            </ul>

                @*  <form class="form-inline my-2 my-lg-0">
                <table>
                    <tr>
                        <td><input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"></td>
                        <td><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></td>

                    </tr>
                </table>
            </form>*@

            <form class="form-inline my-2 my-lg-0">

                <table>
                    <tr>
                        <td><a asp-action="Login" asp-controller="Account" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">Login</a></td>
                        <td><a asp-action="Registration" asp-controller="Account" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">Register</a></td>
                    </tr>
                </table>


            </form>

        </div>
    </nav>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - this only test site by Novak - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)



</body>
</html>